
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-image: url('steeg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    line-height: 1.6;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

main {
    padding: 60px 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}

h2 {
    color: #444;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#paragh {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
    line-height: 1.8;
    text-align: justify;
    text-indent: 30px;
    transition: transform 0.5s;
}

#paragh:hover {
    transform: scale(1.02);
}

footer {
    color: rgb(67, 65, 65);
    text-align: center;
    padding: 15px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
}
